body {
  background:#232323;
}

#scoreboard {
  padding:1%;
}

.score-ranking {
  visibility:hidden;
  text-align:left;
  border-collapse: collapse;
}

.score-ranking thead th {
  padding: 25px;
  color:#747474;
  font-size:14px;
  font-weight:bold;
}

.score-ranking thead td {
  padding:15px 25px;
  background:#1a1a1a;
  font-size:16px;
  border-bottom:5px solid #232323;
}

.score-ranking tbody tr {
  color:#747474;
}

.score-ranking tbody td {
  padding:15px 25px;
  background:#1a1a1a;
  font-size:16px;
  border-bottom:5px solid #232323;
}

.score-ranking thead th {
  padding:15px 25px;
  background:#0f0f0f;
  font-size:16px;
  border-bottom:5px solid #232323;
}

.score-ranking tbody tr:hover td {
    background:#1d1d1d;
}

.score-ranking tbody tr:nth-child(1) td:nth-of-type(1) {
  color:#FFFFFF;
  background:#615E2F;
  font-weight:bold;
}
.score-ranking tbody tr:nth-child(2) td:nth-of-type(1) {
  color:#FFFFFF;
  background:#555555;
  font-weight:bold;
}
.score-ranking tbody tr:nth-child(3) td:nth-of-type(1) {
  color:#FFFFFF;
  background:#5A382C;
  font-weight:bold;
}

.score-ranking tbody td:nth-of-type(1) {
  border-right:5px solid #232323;
}

.score-ranking tbody td:nth-of-type(7) {
  border-right:5px solid #232323;
}

.score-ranking thead th:nth-of-type(1) {
  border-right:5px solid #232323;
}

.score-ranking thead th:nth-of-type(7) {
  border-right:5px solid #232323;
}

.score-ranking tbody td:nth-of-type(2) {
  font-weight:bold;
}

.score-ranking tbody td:nth-of-type(6) {
  font-weight:bold;
}

.score-ranking tbody td:nth-of-type(7) {
  font-weight:bold;
}

.CellWithComment{
  position:relative;
  text-decoration:underline;
  text-decoration-style: dotted;
  text-decoration-thickness: 1px;
}

.CellComment{
  display:none;
  position:absolute; 
  z-index:100;
  border-radius:5px;
  background-color:rgba(0, 0, 0, 0.3);
  padding:12px;
  color:white; 
  top:50px; 
  left:0px;
  font-weight:normal;
}

.CellWithComment:hover span.CellComment{
  display:block;
}

/* unvisited link */
a:link {
  color: lightblue;
}

/* visited link */
a:visited {
  color: purple;
}

/* mouse over link */
a:hover {
  color: green;
}

/* selected link */
a:active {
  color: green;
}

/* Style the tab */
.category {
  overflow: hidden;
  border: 1px solid #232323;
  background-color: #1d1d1d;
}

/* Style the buttons that are used to open the tab content */
.category button {
  color:#747474;
  font-size:14px;
  font-weight:bold;
  background-color: #1A1A1A;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.category button:hover {
  background-color: #0F0F0F;
}

/* Create an active/current tablink class */
.category button.active {
  background-color: #232323;
  color:white
}

/* Style the tab content */
.category-content {
  display: none;
  border-collapse: collapse;
}


/* Style the tab */
.partysize {
  overflow: hidden;
  border: 1px solid #232323;
  background-color: #1d1d1d;
}

/* Style the buttons that are used to open the tab content */
.partysize button {
  color:#747474;
  font-size:14px;
  font-weight:bold;
  background-color: #1A1A1A;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.partysize button:hover {
  background-color: #0F0F0F;
}

/* Create an active/current tablink class */
.partysize button.active {
  background-color: #232323;
  color:white
}

/* Style the tab content */
.partysize-content {
  display: none;
  border-collapse: collapse;
}

.placeholderText {
  padding:12px;
  font-size:32px;
  color:white; 
  font-weight:bold;
}

/* Style the tab */
.subcategory {
  overflow: hidden;
  border: 1px solid #232323;
  background-color: #1d1d1d;
}

/* Style the buttons that are used to open the tab content */
.subcategory button {
  color:#747474;
  font-size:14px;
  font-weight:bold;
  background-color: #1A1A1A;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.subcategory button:hover {
  background-color: #0F0F0F;
}

/* Create an active/current tablink class */
.subcategory button.active {
  background-color: #232323;
  color:white
}

/* Style the tab content */
.subcategory-content {
  display: none;
  border-collapse: collapse;
}
