/* Add a divider after rank and a divider before video link. */
.score-table-override tbody td:nth-of-type(1) {
  border-right:1px solid #373b3e;
}
.score-table-override tbody td:nth-of-type(6) {
  border-right:1px solid #373b3e;
}

/* Color ranks 1 - 3 in Gold, Silver, and Bronze. */
.score-table-override tbody tr:nth-child(1) td:nth-of-type(1) {
  --bs-table-bg:#908147;
  --bs-table-hover-bg:#A8995F;
  font-weight:bold;
}

.score-table-override tbody tr:nth-child(2) td:nth-of-type(1) {
  --bs-table-bg:#87898B;
  --bs-table-hover-bg:#A2A4A6;
  font-weight:bold;
}

.score-table-override tbody tr:nth-child(3) td:nth-of-type(1) {
  --bs-table-bg:#684438;
  --bs-table-hover-bg:#856155;
  font-weight:bold;
}

/* Change color for noted rows. */
.pso2-noted {
  --bs-table-bg:#4c5037;
  --bs-table-hover-bg:#5c6146;
}

.pso2-noted a:link {
  color:#eef0ff;
}
.pso2-noted a:hover {
  color:#dadcec;
}